.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1rem;
  padding: 1.25rem;
  gap: 0.4375rem;
  transition: background .3s, color .3s;
  font-family: 'Nunito', sans-serif;

  &:hover {
    transition: background .3s, color .3s, border .3s;
  }
}