:root {
  --text-color: #050F28;
  --navy: #050F28;
  --grey: #F6F6F6;
  --light-blue: #88A1DE;
  --white-color: #FFFFFF;
  --diary-background-color: #F6F6F6;
  --body-background-color: #FFFFFF;
  --select-color: #050F28;
  --select-background: #F6F6F6;
  --error: #FF832A;
}